<div class="container mt-5 mb-5">
  <h2 class="section-title text-center mb-4">Mis Propiedades Favoritas</h2>

  <div *ngIf="favoriteProperties.length === 0" class="alert alert-info text-center shadow-sm">
    No tienes propiedades marcadas como favoritas.
  </div>

  <div class="row g-4 resp" *ngIf="favoriteProperties.length > 0">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let p of favoriteProperties">
      <div class="card h-100 shadow property-card">
        <div class="position-relative">
          <a [routerLink]="['/property', p.id]">
            <img [src]="p.images[0].url" class="card-img-top property-image" alt="Foto de la Propiedad">
          </a>
          <button class="btn btn-light rounded-circle favorite-btn" (click)="toggleFavoriteFromFavorites(p)">
            <i class="bi bi-heart-fill text-danger fs-4"></i>
          </button>
        </div>

        <div class="card-body d-flex flex-column">
          <h5 class="card-title mb-2 text-primary">{{ p.title }}</h5>
          <p class="card-text mb-1 text-muted"><i class="bi bi-geo-alt-fill"></i> {{ p.city }}</p>
          <p class="card-text mb-3">{{ p.address }}</p>

          <div class="mt-auto">
            <div class="price-box mb-3">{{ p.price | formatoPrecio }}</div>
            <a class="btn btn-primary w-100" [routerLink]="['/property', p.id]">Ver más detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
