<div class="container mt-5">
  <h2>Editar Propiedad</h2>

  <form *ngIf="property" (ngSubmit)="onSubmit()" #editForm="ngForm" enctype="multipart/form-data">
    <div class="mb-3">
      <label>Título</label>
      <input class="form-control" [(ngModel)]="property.title" name="title" required />
    </div>

    <div class="mb-3">
      <label>Dirección</label>
      <input class="form-control" [(ngModel)]="property.address" name="address" />
    </div>

    <div class="mb-3">
      <label>Descripción</label>
      <textarea class="form-control" [(ngModel)]="property.description" name="description" rows="3" required></textarea>
    </div>

    <div class="mb-3">
      <label>Precio (€)</label>
      <input type="number" class="form-control" [(ngModel)]="property.price" name="price" required />
    </div>

    <div class="mb-3">
      <label>Ciudad</label>
      <input class="form-control" [(ngModel)]="property.city" name="city" required />
    </div>

    <div class="mb-3">
      <label>Tipo</label>
      <input class="form-control" [(ngModel)]="property.type" name="type" required />
    </div>

    <div class="mb-3">
      <label>Código Postal</label>
      <input type="number" class="form-control" [(ngModel)]="property.cp" name="cp" required />
    </div>

  <div class="mb-3">
    <label>Subir nuevas imágenes</label>
    <input type="file" class="form-control" (change)="onFileChange($event)" multiple [attr.max]="20"/>
  </div>
  
  <button type="submit" class="btn btn-success" [disabled]="editForm.invalid">Guardar cambios</button>
  </form>
  
  <hr />
  <div *ngIf="property.images?.length">
    <h5>Imágenes actuales:</h5>
    <div class="d-flex flex-wrap gap-3">
      <div *ngFor="let img of property.images" class="image-thumbnail-container">
        <img [src]="img.url" alt="Imagen de propiedad" class="img-fluid rectangular-img" />
        <button class="btn btn-danger btn-sm delete-image-btn" (click)="deleteImage(img.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </div>
    </div>
  </div>


</div>
