<div class="hero-container d-flex flex-column justify-content-center align-items-center text-center">
  <h1 class="display-4 fw-bold mb-3">¡Bienvenido a <span class="brand-name">Como En Casa</span>!</h1>
  <p class="lead mb-4">Encuentra el hogar de tus sueños entre nuestras mejores ofertas de propiedades.</p>
  <a href="#listado" class="btn btn-hero">Ver inmuebles</a>
</div>

<div id="listado" class="container-fluid mt-5 mb-5">

  <app-property-filter (propertiesFiltered)="onPropertiesFiltered($event)"></app-property-filter><br><br>

  <h2 class="section-title text-center">Ofertas de inmuebles en venta</h2>

  <div *ngIf="!properties.length" class="alert alert-info text-center">No se encontraron propiedades.</div>

  <div class="properties-grid resp">
    <div *ngFor="let p of properties; let i = index; trackBy: trackByIndex">
      <div class="card property-card">
        <div class="property-image-wrapper">
          <a [routerLink]="['/property', p.id]">
            <img [src]="p?.images?.length ? p.images[0].url : 'assets/CECc.png'" class="clickable-img" alt="Foto de la Propiedad">
          </a>
          <div class="favorite-icon" (click)="toggleFavorite(p)">
            <i class="bi" [ngClass]="p.isFavorite ? 'bi-heart-fill' : 'bi-heart'"></i>
          </div>
        </div>

        <div class="card-body text-center">
          <h5 class="card-title">{{ p.title }}</h5>
          <p class="property-city">📍 {{ p.city }}</p>
          <p class="property-address"><em>{{ p.address }}</em></p>

        </div>

        <div class="price-box">{{ p.price | formatoPrecio }}</div>

        <a class="btn btn-details" [routerLink]="['/property', p.id]">Ver más</a>


        <div class="property-menu-wrapper" *ngIf="authService.isAdmin()" (click)="$event.stopPropagation()">
          <button class="btn-menu-icon" (click)="toggleMenu(p.id)">
            <!-- Icono tres puntos verticales SVG -->
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#c62828" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round">
              <circle cx="12" cy="5" r="1.5"></circle>
              <circle cx="12" cy="12" r="1.5"></circle>
              <circle cx="12" cy="19" r="1.5"></circle>
            </svg>
          </button>
        
          <div class="property-menu" *ngIf="openedMenuId === p.id">
            <a class="menu-item" [routerLink]="['/propertyEdit', p.id]" (click)="closeMenu()">Editar propiedad</a>
            <app-property-delete [propertyId]="p.id" buttonText="Eliminar propiedad"
              (propertyDeleted)="onPropertyDeleted($event); closeMenu()" class="menu-item btn-delete"></app-property-delete>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>